<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- copiei de app.config de Data e colei aqui-->
  <connectionStrings>
    <add name="SCANBsEntities" connectionString="metadata=res://*/SCANBsDb.csdl|res://*/SCANBsDb.ssdl|res://*/SCANBsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NTB-CESARVN2010;initial catalog=SCANBs;persist security info=True;user id=cesarvn2010;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SCANBs.Desktop.Properties.Settings.SCANBsConnectionString"
      connectionString="Data Source=NTB-CESARVN2010;Initial Catalog=SCANBs;Persist Security Info=True;User ID=cesarvn2010;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- fim da cópia-->
</configuration>