@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>
<br />
<p>Somos uma empresa séria. Nossos funcionários amam carros e motos esportivas. Há um funcionário nosso que gosta muito de Opala, enquanto outros não saem do Redtube.</p>
