@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Messag</h3>

<address>
    Onde nos encontrar:<br />
    Av.Major Gote, nº808<br />
    <br title="Phone">Telefone: xxxx-xxxx<br />
    CEP: 38700-207, Patos de Minas
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:support@scanbs.com">support@scanbs.com</a><br />
    <strong>Trabalhe conosco:</strong> <a href="mailto:trabalheconosco@scanbs.com">trabalheconosco@scanbs.com</a>
</address>